@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto.ttf);
}

html {
  scroll-behavior: smooth;
  transition: 0.3s ease;
}

body {
  font-family: "roboto";
  background: #fff;
  margin: 0;
}

nav {
  background: #ff214f;
  height: 10vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7), 0 1px 2px rgba(0, 0, 0, 0.8);
}

nav ul li {
  color: black;
  list-style: none;
  display: inline;
  margin-right: 3vh;
}

nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.1em;
}

/* CONTENT */

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.header {
  width: 100%;
  height: 100vh;
}

.bg {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../imgs/bckrnd/bg.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 90%;
  height: 70%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  margin: 10px;
  width: 28%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.8;
  transition: 0.3s ease;
  cursor: pointer;
}

.box:hover {
  width: 30%;
  height: 100%;
}

.box .top {
  width: 100%;
  height: 60%;
  background: #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .top img {
  width: 50%;
  transition: 3s;
}

.box .top img {
  width: 50%;
}

.box .mid {
  width: 100%;
  height: 10%;
  background: #bdc3c7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .bot {
  width: 100%;
  height: 30%;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .bot p {
  width: 80%;
  height: auto;
  text-align: center;
}

.box .form {
  flex-direction: column;
  background: #2c3e50;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*FOOTER*/

footer {
  background: #fff;
  height: 100vh;
  width: 100%;
  position: relative;
}

.bgf {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url(img/bgf.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentf {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contentf .top {
  height: 40%;
  width: 100%;
}

.contentf .mid {
  height: 60%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

input[type="search"] {
  border-radius: 50px;
  padding: 2vh 3vh 2vh 3vh;
  outline: none;
  border: none;
  color: black;
  width: 35%;
  height: 25%;
  font-size: 1.5em;
  opacity: 0.7;
  margin: auto;
}

.title {
  overflow: hidden;
  height: 30%;
  width: 60%;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.3em;
}

.paragraf {
  overflow: hidden;
  height: 70%;
  width: 60%;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.2em;
  text-align: center;
}

main {
  padding: 50px;
}

section {
  text-align: justify;
  width: 80%;
  height: 30%;
  background: #f0f0f0;
  margin: 8%;
  padding: 5%;
  opacity: 0.8;
  transition: 0.3s ease;
  border-radius: 10px;
}

h2 {
  margin: 15px;
  text-align: center;
}

h3 {
  margin: 15px;
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
}

h4 {
  margin: 15px;
  text-align: center;
  font-size: 3em;
}

figure {
  text-align: center;
  flex-flow: column;
  padding: 5px;
  margin: auto;
}

img {
  margin: 0.5em;
  max-width: 50em;
  max-height: 25em;
  border-radius: 10px;
  position: relative;
  text-align: center;
}

.bgp {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../imgs/bckrnd/bg.gif);
  background-position: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section p.alinea::before {
  content: "";
  display: inline-block;
  margin-left: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 15px;
  font-size: medium;
}

.clear {
  clear: both;
}

.float {
  float: left;
}

/* media queries*/

@media screen and (max-width: 640px) {
  .float {
    float: none;
  }

  #img {
    display: none;
  }

  #abstract {
    width: 100%;
  }
}

@media screen and (max-width: 990px) {
  .float {
    float: none;
  }

  #img {
    display: none;
  }

  #abstract {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .float {
    float: none;
  }

  #img {
    display: none;
  }

  #abstract {
    width: 100%;
  }
}

@media screen and (min-width: 640px) {
  .float {
    float: none;
  }

  #img {
    display: none;
  }

  #abstract {
    width: 100%;
  }
}

@media screen and (min-width: 990x) {
  .float {
    float: none;
  }

  #img {
    display: none;
  }

  #abstract {
    width: 100%;
  }
}

@media screen and (min-width: 120px) {
  .float {
    float: none;
  }

  #img {
    display: none;
  }

  #abstract {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .float {
    float: none;
  }

  #img {
    display: none;
  }

  #abstract {
    width: 100%;
  }
}

@media screen and (max-width: 990px) {
  .float {
    float: none;
  }

  #img {
    display: none;
  }

  #abstract {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .float {
    float: none;
  }

  #img {
    display: none;
  }

  #abstract {
    width: 100%;
  }
}

/* FOOTER */

.contact-area {
  border-bottom: 1px solid #353c46;
}

.contact-content p {
  font-size: 15px;
  margin: 30px 0 60px;
  position: relative;
}

.contact-content p::after {
  background: #353c46;
  bottom: -30px;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 80%;
}

.contact-content h6 {
  color: #8b9199;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
}

.contact-content span {
  color: #353c47;
  margin: 0 10px;
}

.first {
  text-align: justify;
  width: 80%;
  height: 30%;
  background: none;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 0;
  padding: 5%;
  opacity: 0.8;
  transition: 0.3s ease;
  border-radius: 10px;
}

.first div {
  margin: 15px;
  text-align: center, justify;
  font-size: 1em;
  color: white;
}

.bgpp {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../imgs/bckrnd/bckg_1.jpg);
  background-position: flex;
  background-repeat: no-repeat;
  background-size: cover;
}

.cp {
  width: 100%;
  height: 10vh;
}

/* FORM */

.bof {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(img/bgf.jpeg);
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 12pt;
  font-family: "roboto";
  color: #2a293e;
  background-position: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contact-us {
  background: #f0f0f0af;
  padding: 50px 100px;
  border-radius: 10px;
}

span {
  font-size: 8pt;
}

em {
  color: #2c3e50;
}

button {
  display: block;
  float: right;
  line-height: 24pt;
  padding: 0 20px;
  border: none;
  background: #2c3e50;
  color: white;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;
}

button:hover {
  background: inherit;
  color: #2c3e50;
  border-bottom: 2px solid #2c3e50;
}

textarea {
  resize: none;
}

::selection {
  background: #373638bd;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  border: 1px solid #6bd4b1;
  -webkit-text-fill-color: #2a293e;
  -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  transition: background-color 5000s ease-in-out 0s;
}

label,
input,
textarea {
  display: block;
  width: 100%;
  font-size: 12pt;
  line-height: 24pt;
  font-family: "Roboto";
}

input {
  margin-bottom: 24pt;
}

input,
textarea {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: #f8f4e5;
  padding-left: 5px;
  outline: none;
}

input:focus,
textarea:focus {
  border: 1px solid #2c3e50;
}

.bgp {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../imgs/bckrnd/bg.gif);
  background-position: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-size: 14px;
}

h1 {
  color: white;
  text-align: center;
  text-shadow: 0px 0px 6px rgba(10, 4, 3, 0.8);
}

p {
  margin: 15px;
}

.clear {
  clear: both;
}

.float {
  float: left;
}

#abstract {
  width: 60%;
  padding: 0 15px;
}

#abstract p {
  margin-top: 0;
}

#btn-back-to-top {
  position: fixed;
  bottom: 30px;
  right: 20px;
  display: none;
  border-radius: 10px;
  padding: 4px 5px;
  height: 40px;
  width: 40px;
}